body{
    background-color: #181823;
}
p{
    font-family: 'Roboto Mono';
    color: white;
}
#Titletext{
    width: 1400px;
    margin-left: 192px;
    margin-top: 238px;
    height: 403.72px;
}
hr{
    width:725px;
    margin-left: 0px;
}
#name{
    font-size: 130px;
    font-weight: 400;
    margin-bottom: 0px;
}
#title{
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#introtext{
    font-size: 24px;
    margin-top: 0px;

}